<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>

<body>

    <a href="/">home</a>
    <a href="/user/login">login</a>
    <a href="/user/register">register</a>
    <a href="/user/logout">logout</a>
    {{!-- TODO Fix template --}}

    {{{body}}}
</body>

</html>