<h1>CREATE</h1>
<div>

	CREAte
</div>
<img class="cube" src="">
<div class="details">
	<p><span>Description:</span> </p>
	<p><span>Difficulty level:</span> </p>
	<a class="btn" href="/">Back</a>
	<a class="btn" href="/attach/accessory/">Add Accessory</a>
	<a class="btn" href="/edit/">Edit Cube</a>
	<a class="btn" href="/delete/">Delete Cube</a>
</div>

<h2>Accessories</h2>
<div class="accessories">
	<div class="accessory">
		<img src="" alt="stickerName">
		<h3>Create<h3>
	</div>
	<p>CREATE</p>
</div>

<h3 class="italic">This cube has no accessories yet...</h3>

</div>