<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <main>
            {{{body}}}
        </main>
    </div>
</body>
<footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</html>