<h2>login</h2>

<form action="/user/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button>Login</button>
</form>