<h2>register</h2>

<form action="/user/register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <label for="repass">Repeat password:</label>
    <input type="password" name="repass" id="repass">

    <button>register</button>
</form>