<header>
    <h1>Cat Shelter</h1>
    <form action="/" method="get">
        <input name="search" type="search" value="{{search}}">
        <button type="submit">Search</button>
    </form>
</header>

<main>
    <section class="cats">
        <ul>
            {{> catCard}}
        </ul>
    </section>
</main>