<header>
    <ul>
        <li><img class="logo" src="/static/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/about">About</a></li>
        {{#if user}}
        <li><a href="/create/cube">Add a Cube</a></li>
        <li><a href="/create/accessory">Add Accessory</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</header>
<img id="sadFaceImg" src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png" alt="sad face" />
<h1>{{code}}</h1>
<h2>{{message}}</h2>