<header>
    <ul>
        <li><img class="logo" src="/static/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/about">About</a></li>
        {{#if user}}
        <li><a href="/create/cube">Add a Cube</a></li>
        <li><a href="/create/accessory">Add Accessory</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</header>
<h1>Login Form</h1>
<p>{{error}}</p>
<div class="form">
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
</div>