<section id="viewCatalog" class="background-img">
    <div class="notification errorBox">
        {{#each error}}
        <span>{{this}}</span>
        {{/each}}
    </div>

    {{#if hotels}}
    <div class="added-hotels">
        {{#each hotels}}
        {{>hotelCard}}
        {{/each}}
    </div>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/if}}
</section>